[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dotenv = "*"
google-cloud-bigquery = "*"
google-cloud-bigtable = "*"
numpy = "*"
scikit-learn = "*"
kfp = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
